tech = "sky130A"
grid = 0.005

# ratio of PMOS to NMOS widths for unit inverter
beta = 1.54

# ratio of Cd / Cg
gamma = 1.3

spacing = [
  { from = "ndiff", to = "nwell", dist = 0.34 },
  { from = "gate", to = "licon", dist = 0.055 }, # gate to source/drain contacts
]

[layers]

[layers.nwell]
desc = "define nwell for placing PMOS transistors"
width = 0.84
space = 1.27
area = 0.0

[layers.poly]
desc = "define transistor gates"
width = 0.15
space = 0.21
area = 0.0
extensions = [
  { layer = "ndiff", extend = 0.13 },
  { layer = "pdiff", extend = 0.13 },
]

[layers.ct]
desc = "contact between li and m1"
width = 0.17
space = 0.19
area = 0.0289
enclosures = [
  { layer = "m1", enclosure = 0.03, one_side = false },
  { layer = "m1", enclosure = 0.06, one_side = true },
]

[layers.li]
desc = "local interconnect"
width = 0.17
space = 0.17
area = 0.0561

[layers.licon]
desc = "defines contacts between poly/diff/tap and local interconnect"
width = 0.17
space = 0.17
area = 0.0289
enclosures = [
  { layer = "ndiff", enclosure = 0.04, one_side = false },
  { layer = "pdiff", enclosure = 0.04, one_side = false },
  { layer = "ndiff", enclosure = 0.06, one_side = true },
  { layer = "pdiff", enclosure = 0.06, one_side = true },
  { layer = "poly", enclosure = 0.05, one_side = false },
  { layer = "poly", enclosure = 0.08, one_side = true },
  { layer = "li", enclosure = 0.08, one_side = true },
]

[layers.pdiff]
desc = "pmos diffusion regions"
width = 0.15
space = 0.15
area = 0.063
enclosures = [
  { layer = "nwell", enclosure = 0.18, one_side = false },
]
extensions = [
  { layer = "poly", extend = 0.25 },
]

[layers.ndiff]
desc = "nmos diffusion regions"
width = 0.15
space = 0.15
area = 0.063
enclosures = [
  { layer = "nwell", enclosure = 0.18, one_side = false },
]
extensions = [
  { layer = "poly", extend = 0.25 },
]

[layers.m1]
desc = "first level of metal interconnects"
width = 0.14
space = 0.14
area = 0.083

