tech = "sky130A"

units = "Nano"
grid = 5

# ratio of PMOS to NMOS widths for unit inverter
beta = 1.54

# ratio of Cd / Cg
gamma = 1.3

spacing = [
  { from = "diff", to = "nwell", dist = 340 },
  { from = "gate", to = "licon", dist = 55 }, # gate to source/drain contacts
  { from = "licon", to = "diff", dist = 235 },
]

[layers]

[layers.nwell]
desc = "define nwell for placing PMOS transistors"
layernum = 64
width = 840
space = 1270
area = 0
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[layers.ntap]
desc = "define n+ taps to nwell"
layernum = 65
width = 150
space = 270
area = 0
enclosures = [
  { layer = "nwell", enclosure = 180, one_side = false },
]
purposes = [
  ["Drawing", 44],
]

[layers.ptap]
desc = "define p+ taps to substrate"
layernum = 65
width = 150
space = 270
area = 0
enclosures = [
  { layer = "pwell", enclosure = 130, one_side = false },
]
purposes = [
  ["Drawing", 44],
]

[layers.poly]
desc = "define transistor gates"
layernum = 66
width = 150
space = 210
area = 0
extensions = [
  { layer = "diff", extend = 130 },
  { layer = "diff", extend = 130 },
]
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[layers.mcon]
desc = "contact between li and m1"
layernum = 67
width = 170
space = 190
area = 28900
enclosures = [
  { layer = "m1", enclosure = 30, one_side = false },
  { layer = "m1", enclosure = 60, one_side = true },
]
purposes = [
  ["Drawing", 44],
]

[layers.li]
desc = "local interconnect"
layernum = 67
width = 170
space = 170
area = 56100
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[layers.licon]
desc = "defines contacts between poly/diff/tap and local interconnect"
layernum = 66
width = 170
space = 170
area = 28900
enclosures = [
  { layer = "diff", enclosure = 40, one_side = false },
  { layer = "diff", enclosure = 60, one_side = true },
  { layer = "poly", enclosure = 50, one_side = false },
  { layer = "poly", enclosure = 80, one_side = true },
  { layer = "li", enclosure = 80, one_side = true },
  { layer = "ntap", enclosure = 120, one_side = true },
  { layer = "ntap", enclosure = 40, one_side = false },
  { layer = "ptap", enclosure = 120, one_side = true },
  { layer = "ptap", enclosure = 40, one_side = false },
]
purposes = [
  ["Drawing", 44],
]

[layers.diff]
desc = "nmos/pmos diffusion regions"
layernum = 65
width = 150
space = 270
area = 63000
enclosures = [
  { layer = "nwell", enclosure = 180, one_side = false },
]
extensions = [
  { layer = "poly", extend = 250 },
]
purposes = [
  ["Drawing", 20],
  ["Label", 6],
]

[layers.m1]
desc = "first level of metal interconnects"
layernum = 68
width = 140
space = 140
area = 83000
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[layers.via]
desc = "defines contacts between metal 1 and metal 2"
layernum = 68
width = 260
space = 60
area = 67600
enclosures = [
  { layer = "m1", enclosure = 30, one_side = true },
  { layer = "m2", enclosure = 30, one_side = true },
]
purposes = [
  ["Drawing", 44],
]

[layers.m2]
desc = "second level of metal interconnects"
layernum = 69
width = 140
space = 140
area = 67600
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[layers.via2]
desc = "defines contacts between metal 1 and metal 2"
layernum = 68
width = 260
space = 60
area = 67600
enclosures = [
  { layer = "m1", enclosure = 30, one_side = true },
  { layer = "m2", enclosure = 30, one_side = true },
]
purposes = [
  ["Drawing", 44],
]

[layers.m3]
desc = "third level of metal interconnects"
layernum = 70
width = 140
space = 140
area = 67600
purposes = [
  ["Drawing", 20],
  ["Label", 5],
]

[stacks]

[stacks.polyc]
layers = ["li", "licon", "poly"]
[stacks.diffc]
layers = ["li", "licon", "diff"]
[stacks.viali]
layers = ["m1", "mcon", "li"]
[stacks.via1]
layers = ["m2", "via", "m1"]
[stacks.via2]
layers = ["m3", "via2", "m2"]

