name: Rust

on:
  push:
  pull_request:

jobs:
  check-workspace:
    name: Build, lint, and test
    runs-on: [self-hosted, linux, magic-8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up environment
        run: |
          echo "/usr/local/bin" >> $GITHUB_PATH
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Compile
        run: make check
      - name: Lint
        run: make lint
      - name: Build and test
        run: make test
  coverage:
    name: Coverage
    runs-on: [self-hosted, linux, magic-8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up environment
        run: |
          echo "/usr/local/bin" >> $GITHUB_PATH
      - name: Generate coverage
        run: |
          cargo clean
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out Xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true

